backups
build/
static/images/uploads/
src/
var/
.ropeproject/
ve
django_wsgi.py
local_mailpost.yaml
local_report_config.yaml
local_settings.py
mailpost.local.yaml
mysite.bak.sql
pip-log.txt
test.db
secret.txt
*.*~
*.bak
*.dia.autosave
*.log
*.orig
*.pyc
*.swo
*.swp
*.vim
*.xls
.project
.pydevproject
.#*
reports/
sqlite.db
mytags
test_debug.py
.ropeproject
#*
.emacs.*
*_flymake.py
venv/
bkp/
uploads/
